html * {
  font-family: 'Major Mono Display', monospace !important;
}

.container {
    display: flex; flex-wrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(163, 167, 175)
}

.logo-image {
  margin: 0;
  display: inline;
  width: 90px;
  height: 90px;
  padding: inherit;
}

.header {
  color: rgb(136, 87, 91);
  font-size: 2em;
  display: inline;
  margin: 0;
  text-align: right;
  height: inherit;
}

.center-image {
   width: 100%
}

.column {
  float: left;
  align-items: center;
}

.left, .right {
  width: 25%;
}

.intro {
  text-align: center;
  color: grey;
}

.middle {
  width: 50%;
}

.projects {
  width: 250px;
  height: 200px;
  margin: auto;

}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
